---
layout: base
---

<header>
  <div class="header-container">
    <nav class="nav-big">
      <ul>
        <li><a href="#about">about</a></li>
        <li><a href="#work">work</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </nav>
    <a href="/">
      <img
        class="main-logo main-logo-big"
        src="/assets/images/undoing-logo.png"
        alt="" />
    </a>
  </div>
</header>
<section class="section-wrapper">
  <div class="main-sound-player">
    <svg
      viewBox="0 0 85 67"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M43.6204 2.01013C48.9533 2.10115 53.9252 2.80592 58.5221 4.13507C63.4681 5.49647 67.7668 7.5411 71.4037 10.2633C75.0466 12.99 77.9055 16.3446 79.9994 20.3039L80.0048 20.3141C81.0293 22.312 81.7881 24.4497 82.2856 26.725C82.763 28.6966 83 30.7669 83 32.9339C83 33.0088 82.9997 33.0836 82.9992 33.1583C82.9997 33.2207 83 33.2832 83 33.3456L82.9997 33.5L83 33.6544C83 33.7169 82.9997 33.7793 82.9992 33.8417C82.9997 33.9164 83 33.9912 83 34.0661C83 36.2331 82.763 38.3034 82.2856 40.275C81.7881 42.5503 81.0292 44.688 80.0047 46.6859L79.9994 46.6961C77.9055 50.6554 75.0466 54.01 71.4037 56.7367C67.7668 59.4589 63.4681 61.5035 58.5221 62.8649C53.9251 64.1941 48.9532 64.8989 43.6203 64.9899C43.3708 64.9966 43.1183 65 42.8629 65C42.8161 65 42.7693 64.9999 42.7226 64.9998C42.6726 64.9999 42.6226 65 42.5726 65C42.5484 65 42.5242 65 42.5 65C42.4758 65 42.4516 65 42.4274 65L42.2774 64.9998L42.1371 65C41.8817 65 41.6292 64.9966 41.3797 64.9899C36.0468 64.8989 31.0749 64.1941 26.4779 62.8649C21.5319 61.5035 17.2332 59.4589 13.5963 56.7367C9.95342 54.01 7.09448 50.6554 5.00064 46.6961L4.99525 46.6859C3.97071 44.688 3.21191 42.5503 2.71436 40.275C2.23703 38.3034 2 36.2332 2 34.0661C2 33.9912 2.00028 33.9164 2.00082 33.8417C2.00027 33.7793 2 33.7168 2 33.6544C2 33.6029 2.0001 33.5515 2.00031 33.5001C2.0001 33.4487 2 33.3972 2 33.3456C2 33.2832 2.00027 33.2207 2.00082 33.1583C2.00028 33.0837 2 33.0089 2 32.9339C2 30.7669 2.23703 28.6966 2.71436 26.725C3.21191 24.4497 3.97078 22.312 4.99532 20.3141L5.00064 20.3039C7.09448 16.3446 9.95342 12.99 13.5963 10.2633C17.2332 7.5411 21.5319 5.49647 26.4779 4.13507C31.0749 2.8059 36.0469 2.10112 41.3798 2.01012C41.6292 2.00335 41.8817 2 42.1371 2L42.2774 2.00023L42.4274 2L42.5 2.00004L42.5726 2C42.6226 2 42.6726 2.00008 42.7226 2.00023C42.7693 2.00008 42.8161 2 42.8629 2C43.1184 2 43.3709 2.00336 43.6204 2.01013ZM14.1217 15.4246C11.8954 17.5047 9.98994 19.7835 8.40579 22.2635C6.9436 24.5972 5.96133 26.9835 5.45673 29.4251C5.22181 30.7303 5.08987 32.0885 5.06213 33.5C5.08987 34.9115 5.22183 36.2697 5.45676 37.575C5.96136 40.0165 6.9436 42.4029 8.40579 44.7365C9.98994 47.2165 11.8954 49.4953 14.1217 51.5754C15.2908 52.1767 16.3996 52.4323 17.4623 52.4323C19.1991 52.4323 20.7313 51.9422 22.1177 50.8478C23.6618 49.5576 25.0405 48.0291 26.2461 46.2535C27.4761 44.442 28.5644 42.5976 29.5112 40.7201C30.3834 38.7294 31.2223 37.1126 32.0318 35.8886C32.5759 34.9715 33.3419 34.2009 34.4094 33.7032C34.5339 33.6307 34.6624 33.5628 34.7946 33.5C34.6624 33.4372 34.5339 33.3693 34.4094 33.2968C33.3419 32.7991 32.5759 32.0286 32.0318 31.1114C31.2223 29.8874 30.3834 28.2706 29.5112 26.2799C28.5644 24.4024 27.4761 22.558 26.2461 20.7465C25.0405 18.9709 23.6618 17.4424 22.1177 16.1522C20.7313 15.0578 19.1991 14.5677 17.4623 14.5677C16.3996 14.5677 15.2908 14.8233 14.1217 15.4246ZM39.9511 4.28165C38.8762 4.39695 37.9501 4.60098 37.1587 4.88157C35.7716 5.37336 34.6898 5.97156 33.8756 6.66437L33.8525 6.68406L33.8281 6.70295C32.905 7.41696 32.3089 8.16324 31.9947 8.94311L31.9855 8.96584L31.975 8.98827C31.5324 9.92972 31.328 10.7731 31.328 11.5259C31.328 12.7655 31.7815 13.9073 32.6996 14.9726C33.7491 16.1904 34.8958 17.4441 36.1402 18.7338L36.166 18.7605L36.1895 18.7883C37.3777 20.1925 38.513 21.6981 39.5963 23.3043C40.7755 25.0526 41.3431 27.0362 41.3431 29.2287C41.3431 30.4456 41.1043 31.5445 40.4059 32.3536C40.0512 32.8004 39.5913 33.2101 39.0054 33.5C39.5913 33.7899 40.0512 34.1996 40.4059 34.6464C41.1043 35.4555 41.3431 36.5544 41.3431 37.7713C41.3431 39.9638 40.7755 41.9474 39.5963 43.6957C38.513 45.3019 37.3777 46.8075 36.1895 48.2117L36.166 48.2395L36.1402 48.2662C34.8958 49.5559 33.7491 50.8096 32.6996 52.0274C31.7815 53.0927 31.328 54.2345 31.328 55.4741C31.328 56.2269 31.5324 57.0703 31.975 58.0117L31.9855 58.0342L31.9947 58.0569C32.3089 58.8368 32.905 59.583 33.8281 60.297L33.8525 60.3159L33.8756 60.3356C34.6898 61.0284 35.7716 61.6266 37.1587 62.1184C37.9501 62.399 38.8762 62.603 39.951 62.7183C40.8018 62.7822 41.6514 62.8179 42.5 62.8259C43.3485 62.8179 44.1982 62.7822 45.0489 62.7183C46.1238 62.603 47.0499 62.399 47.8413 62.1184C49.2284 61.6266 50.3102 61.0284 51.1244 60.3356L51.1475 60.3159L51.1719 60.297C52.095 59.583 52.6911 58.8368 53.0053 58.0569L53.0145 58.0342L53.025 58.0117C53.4675 57.0703 53.672 56.2269 53.672 55.4741C53.672 54.2345 53.2184 53.0927 52.3004 52.0274C51.2509 50.8096 50.1042 49.5559 48.8598 48.2662L48.834 48.2395L48.8104 48.2117C47.6223 46.8075 46.487 45.3019 45.4037 43.6957C44.2245 41.9474 43.6569 39.9638 43.6569 37.7713C43.6569 36.5544 43.8957 35.4555 44.5941 34.6464C44.9488 34.1996 45.4087 33.7899 45.9945 33.5C45.4087 33.2101 44.9488 32.8004 44.5941 32.3536C43.8957 31.5445 43.6569 30.4456 43.6569 29.2287C43.6569 27.0362 44.2245 25.0526 45.4037 23.3043C46.487 21.6981 47.6223 20.1925 48.8104 18.7883L48.834 18.7605L48.8598 18.7338C50.1042 17.4441 51.2509 16.1904 52.3004 14.9726C53.2184 13.9073 53.672 12.7655 53.672 11.5259C53.672 10.7731 53.4675 9.92972 53.025 8.98827L53.0145 8.96584L53.0053 8.94311C52.6911 8.16324 52.095 7.41697 51.1719 6.70295L51.1475 6.68406L51.1244 6.66437C50.3102 5.97156 49.2284 5.37336 47.8413 4.88157C47.05 4.60098 46.1238 4.39696 45.049 4.28167C44.1982 4.21783 43.3485 4.18205 42.4999 4.17412C41.6514 4.18206 40.8018 4.21784 39.9511 4.28165ZM70.8784 15.4247C69.7092 14.8233 68.6004 14.5677 67.5377 14.5677C65.8009 14.5677 64.2687 15.0578 62.8823 16.1522C61.3382 17.4424 59.9595 18.9709 58.7539 20.7465C57.5239 22.558 56.4356 24.4024 55.4888 26.2799C54.6166 28.2706 53.7777 29.8874 52.9682 31.1114C52.4241 32.0286 51.6581 32.7991 50.5906 33.2968C50.4661 33.3693 50.3376 33.4372 50.2053 33.5C50.3376 33.5628 50.4661 33.6307 50.5906 33.7032C51.6581 34.2009 52.4241 34.9715 52.9682 35.8886C53.7777 37.1126 54.6166 38.7294 55.4888 40.7201C56.4356 42.5976 57.5239 44.442 58.7539 46.2535C59.9595 48.0291 61.3382 49.5576 62.8823 50.8478C64.2687 51.9422 65.8009 52.4323 67.5377 52.4323C68.6004 52.4323 69.7092 52.1767 70.8783 51.5754C73.1046 49.4953 75.0101 47.2165 76.5942 44.7365C78.0564 42.4029 79.0386 40.0165 79.5432 37.575C79.7782 36.2697 79.9101 34.9115 79.9379 33.5C79.9101 32.0885 79.7782 30.7303 79.5433 29.425C79.0386 26.9835 78.0564 24.5972 76.5942 22.2635C75.0101 19.7835 73.1046 17.5047 70.8784 15.4247Z" />
    </svg>
  </div>
  <div class="element-title-description sticky">
    <p>
      {% for page in site.pages %}
        {% if page.title == 'general' %}
          {{ page.description }}
        {% endif %}
      {% endfor %}
    </p>
  </div>
  {% include section-about.liquid %}
</section>
{% include section-work.liquid %}
{% include section-contact.liquid %}
{{ content }}