<section class="section-work" id="work">
  <h2>selected works</h2>
  <div class="work-container">
    {% for project in site.projects %}
      <a class="work-element" href={{ project.title | slugify }}>
        <div class="work-element-background">
          {{ project.svg }}
          {{ project.svg }}
        </div>
        <h3>{{ project.title }}</h3>
      </a>
    {% endfor %}
  </div>
  <h6>
    <a href="">to full list of works</a>
  </h6>
</section>