<section class="section-work">
  <div class="animation-test-wrapper">
    <div class="animation-test-container">
      <div class="animation-test">
        <div class="animation-test-element"></div>
        <div class="animation-test-element"></div>
        <div class="animation-test-element"></div>
        <div class="animation-test-element"></div>
        <div class="animation-test-element"></div>
        <div class="animation-test-element"></div>
        <div class="animation-test-element"></div>
        <div class="animation-test-element"></div>
      </div>
    </div>
  </div>
</section>