@use 'fonts';
@use 'variables';

* {
	box-sizing: border-box;
	font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background: variables.$backgroundColor;
	color: variables.$bodyColor;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.3px;

	&.purple {
		--color: #8132f6;
	}
	&.green {
		--color: #007355;
	}
	&.brown {
		--color: #9e7c55;
	}
	&.red {
		--color: #f41a42;
	}
	&.blue {
		--color: #5c96d6;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Neutral Face';
	font-weight: 400;
	margin-top: 1.2em;
	margin-bottom: 1em;
	overflow-wrap: anywhere;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 2rem;
	@include variables.media-2xl {
		font-size: 2.2rem;
	}
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 0.9rem;
}

p,
a,
li,
strong,
em {
	font-size: 1rem;
	@include variables.media-2xl {
		font-size: 1.1rem;
	}
}

br {
	line-height: 1em;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	pointer-events: none;

	.header-container {
		position: sticky;
		height: 40vh;
		top: calc(100vh - 40vh - 45px);
		pointer-events: none;
		@include variables.media-md {
			top: calc(100vh - 40vh);
		}
	}

	nav {
		display: none;
		pointer-events: all;
		padding: 1.6rem;
		position: absolute;
		bottom: 0;
		right: 10%;
		text-align: right;
		transition: 0.2s;
		ul {
			margin: unset;
		}
		li {
			list-style: none;
		}
		a {
			text-decoration: none;
			font-size: 1.1em;
			line-height: 1em;
			text-transform: uppercase;
			color: black;
			&:hover {
				color: var(--color);
			}
		}
		@include variables.media-sm {
			display: flex;
			align-items: center;
		}
		@include variables.media-lg {
			right: 20%;
		}
	}

	.nav-big {
		bottom: 30vh;
		a {
			font-size: 1.6em;
		}
	}

	.main-logo {
		position: absolute;
		bottom: 0;
		width: 62%;
		padding: 1rem;

		transform-origin: 0% 100%;
		transition: 0.2s;

		pointer-events: all;

		&.main-logo-big {
			/*transform: scale(1.6);*/
			width: 100%;
			@include variables.media-xs {
				/*width: 50%;*/
			}
			@include variables.media-sm {
				width: 65%;
			}
			@include variables.media-md {
				width: 55%;
			}
			@include variables.media-lg {
				width: 45%;
			}
			@include variables.media-2xl {
				width: 36%;
			}
		}

		@include variables.media-xs {
			/*width: 50%;*/
		}
		@include variables.media-sm {
			width: 50%;
		}
		@include variables.media-md {
			width: 36%;
		}
		@include variables.media-lg {
			width: 30%;
		}
		@include variables.media-2xl {
			width: 25%;
		}
	}
}

.section-background {
	position: fixed;
	z-index: -1;
	svg {
		position: absolute;
		top: -117%;
		height: 379%;

		transition: 0.3s;

		fill: white;
		stroke: var(--color);
		stroke-width: 2px;

		&.outlined-color {
			fill: white;
			stroke: var(--color);
		}

		&.filled-color {
			fill: var(--color);
			stroke: white;
		}

		&.outlined-black {
			fill: white;
			stroke: black;
		}

		&:first-child {
			animation: scroll-banner 800s infinite linear;
		}
		&:last-child {
			animation: scroll-banner1 800s infinite linear;
			animation-delay: -800s;
		}
	}
}

.section-wrapper {
	position: relative;
	width: 100%;
}

section {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.section-about,
.section-work,
.section-contact {
	padding: 1rem;
}

.section-about {
	/*margin-top: 100vh;*/

	padding-top: 25vh;
	top: 100vh;
	padding-bottom: 100vh;
}

.section-work {
	pointer-events: all;
	h2 {
		margin-top: 2rem;
		margin-bottom: 4rem;
		padding-top: 1rem;
	}

	h6 {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	a {
		text-decoration: none;
		color: black;
		&:hover {
			color: var(--color);
		}
	}
}

.section-contact {
	height: 100vh;
}

.main-sound-player {
	position: absolute;
	right: 10rem;
	top: 12%;
	cursor: pointer;
	svg {
		width: 7vw;
		min-width: 80px;
		height: auto;
		stroke: var(--color);
		stroke-width: 2px;
		fill: transparent;
		transition: 0.2s;

		&:hover {
			fill: var(--color);
		}
	}
	@include variables.media-lg {
		right: 6rem;
		top: 6rem;
	}
}

.element-title-description {
	width: 100%;
	padding: 1rem;
	visibility: hidden;
	transition: 0.2s;

	p {
		margin: 0;
		font-family: 'Neutral Face';
		line-height: 1.1em;
		font-size: 2.5vw;
		transition: 0.2s;
		white-space: nowrap;
	}

	&.sticky {
		visibility: visible;
		position: sticky;
		top: 0;
		z-index: 1;
		p {
			font-size: 4.7vw;
		}
	}

	@include variables.media-xs {
		&.small {
			p {
				font-size: 3.8vw;
			}
		}
	}
	@include variables.media-lg {
		width: 75%;

		&.sticky {
			p {
				font-size: 3.8vw;
			}
		}

		&.small {
			width: 50%;
			p {
				font-size: 2.5vw;
			}
		}
	}
}

section.absolute {
	position: absolute;
	&:nth-child(1) {
		background: #119da4;
	}
	&:nth-child(2) {
		background: #6d9dc5;
	}
}

.div-sticky {
	width: 80%;
	height: 20vh;
	position: sticky;
	top: 0;
	background: var(--color);
}

.animation-test-wrapper {
	position: relative;
	height: calc((45vw * 2) + 2rem);
}

.animation-test-container {
	position: absolute;
	left: 0;
	top: 0;
}

.animation-test {
	display: flex;
	flex-direction: row;
	gap: 1rem;

	padding: 1rem;

	offset-path: polygon(0% 0%, calc(-100% + 100vw) 100%);
	offset-anchor: 0 0;
	offset-rotate: 0deg;
	offset-distance: 0%;
	/*animation: move 3000ms infinite alternate ease-in-out;*/
}

.animation-test-element {
	width: calc(20vw - 1rem);
	height: 45vw;
	background: aqua;
}

@keyframes move {
	0% {
		offset-distance: 0%;
	}
	100% {
		offset-distance: 50%;
	}
}

.about-container {
	width: 100%;
	@include variables.media-md {
		width: 50%;
	}
}

.profiles-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0rem;
	@include variables.media-sm {
		flex-direction: row;
		gap: 2rem;
	}
}

.profile-container {
	flex-basis: 100%;
	@include variables.media-sm {
		flex-basis: 50%;
	}
}

.contact-wrapper {
	position: relative;
	top: 50%;
	width: 100%;

	display: flex;
	gap: 4rem;

	&:first-child {
		margin-left: 1rem;
	}

	@include variables.media-sm {
		top: 45%;
		width: 100%;

		gap: 2rem;
		flex-direction: row;
		justify-content: flex-end;

		&:first-child {
			margin-left: unset;
		}
	}
}

.contact-container {
	display: flex;
	flex-direction: column;
	a {
		color: var(--color);
		text-decoration: none;

		&:hover {
			color: black;
		}
	}

	svg {
		width: 5vw;
		min-width: 50px;
		height: auto;
		stroke: var(--color);
		stroke-width: 2px;
		fill: transparent;
		margin-bottom: 1rem;
		transition: 0.2s;

		&:hover {
			fill: var(--color);
		}

		@include variables.media-2xl {
			margin-bottom: 2rem;
		}
	}

	@include variables.media-sm {
		flex-basis: 40%;
		flex-grow: 0;
	}
	@include variables.media-md {
		flex-basis: 30%;
		flex-grow: 0;
	}
}

footer {
	width: calc(100% - 2rem);
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: end;
	justify-content: space-between;
	div {
		display: flex;
	}

	h6:nth-child(2) {
		display: none;
		@include variables.media-md {
			display: block;
		}
	}
}

.work-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: end;
	@include variables.media-md {
		flex-direction: row;
	}
}

.work-element {
	position: relative;
	height: 15vh;
	width: 100%;
	/*display: flex;
	flex-direction: column;
	justify-content: space-between;*/
	text-decoration: none;
	color: black;
	h3 {
		padding-right: 2rem;
		margin: 0;
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	@include variables.media-md {
		height: 60vh;
		flex-basis: 20%;
		width: unset;
	}

	&:nth-child(1) {
		stroke: variables.$main-00;
	}
	&:nth-child(2) {
		stroke: variables.$main-01;
	}
	&:nth-child(3) {
		stroke: variables.$main-02;
	}
	&:nth-child(4) {
		stroke: variables.$main-03;
	}
	&:nth-child(5) {
		stroke: variables.$main-04;
	}
	&:hover {
		color: variables.$main-00;
		&:nth-child(1) {
			svg {
				fill: variables.$main-00;
			}
		}
		&:nth-child(2) {
			svg {
				fill: variables.$main-01;
			}
		}
		&:nth-child(3) {
			svg {
				fill: variables.$main-02;
			}
		}
		&:nth-child(4) {
			svg {
				fill: variables.$main-03;
			}
		}
		&:nth-child(5) {
			svg {
				fill: variables.$main-04;
			}
		}
	}
}

.work-element-background {
	position: relative;
	width: 100%;
	height: 80%;
	overflow: hidden;
	svg {
		width: auto;
		height: 350%;
		margin: 0;
		white-space: nowrap;
		position: absolute;
		top: -70%;
		stroke-width: 2px;
		transition: 0.3s;
		&:first-child {
			animation: scroll-banner 200s infinite linear;
		}
		&:last-child {
			animation: scroll-banner1 200s infinite linear;
			animation-delay: -200s;
		}

		@include variables.media-md {
			height: 230%;
			top: -50%;
		}
	}
}

.to-full-list-button {
	cursor: pointer;
	margin-top: 4rem;
	color: var(--color);
	&.list-visible::before {
		content: '–';
	}
	&::before {
		content: '+';
	}
}

.full-works-list {
	width: calc(80% - 1rem);
	margin-left: 1rem;
	display: block;
	h3 {
		margin: 0.5em 0;
	}

	a:hover {
		&:nth-child(1n + 1) {
			color: variables.$main-00;
		}
		&:nth-child(2n + 2) {
			color: variables.$main-01;
		}
		&:nth-child(3n + 3) {
			color: variables.$main-02;
		}
		&:nth-child(4n + 4) {
			color: variables.$main-03;
		}
		&:nth-child(5n + 5) {
			color: variables.$main-04;
		}
	}
	&.hidden {
		display: none;
	}
}

@keyframes scroll-banner {
	0% {
		transform: translate(0, 0%);
	}
	100% {
		transform: translate(-100%, 0%);
	}
}

@keyframes scroll-banner1 {
	0% {
		transform: translate(100%, 0%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

.project-container {
	max-width: 800px;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 4rem;
	padding: 1rem;

	@include variables.media-lg {
		margin-top: 6rem;
		padding: unset;
		max-width: 900px;
	}
	@include variables.media-xl {
		max-width: 1100px;
	}
	@include variables.media-2xl {
		max-width: 1500px;
	}
	@include variables.media-4xl {
		max-width: 1500px;
	}

	img {
		position: relative;
		width: 100%;
	}
}

.project-back-button {
	position: absolute;
	top: 2rem;
	text-decoration: none;
	color: var(--color);
	display: flex;
	font-size: 0.9rem;
	gap: 0.2rem;
	span {
		font-size: 1rem;
		transform: rotate(180deg);
	}
}

.project-description {
	min-height: unset;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.project-title {
		flex-basis: 40%;
		h1 {
			margin: 0;
		}
	}

	article {
		flex-basis: 60%;
		padding-bottom: 2rem;
		.related-tags {
			color: var(--color);
			text-transform: uppercase;
			p {
				font-size: 0.8em;
			}
		}
		p {
			&:first-child {
				margin-top: 0;
			}
		}
	}

	@include variables.media-md {
		flex-direction: row;

		article {
			padding-bottom: 4rem;
		}
	}
}

.project-media {
	min-height: unset;
	padding-bottom: 3rem;
	z-index: 1;
}

.project-related-nav {
	width: 100%;
	min-height: unset;
	display: flex;
	justify-content: space-between;
	padding-top: 8rem;
	padding-bottom: 8rem;

	.related-nav-element {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		h4,
		h6 {
			margin: 0;
		}

		h6 {
			color: var(--color);
		}
		h4 {
			color: black;
			&:hover {
				color: var(--color);
			}
		}
		a {
			text-decoration: none;
		}
	}

	.related-previous {
		text-align: left;
		align-items: flex-start;
		h6 {
			padding-left: 1.5rem;
		}
	}
	.related-next {
		text-align: right;
		align-items: flex-end;
		h6 {
			padding-right: 1.5rem;
		}
	}
}

.project-player-overlay-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

.project-player-overlay {
	margin: 0 auto;
	height: 100%;
}

.project-player-overlay-fixed {
	position: fixed;
}

.player-progress-bar-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: all;
	opacity: 1;
	transition: 0.2s;
	cursor: pointer;

	.player-progress-bar {
		width: 0;
		height: 1rem;
		background: var(--color);
	}
}

.player-controls {
	position: relative;
	width: 4rem;
	padding-left: 1rem;
	pointer-events: all;
	margin-top: 40vh;
	cursor: pointer;
	svg {
		width: 100%;
		overflow: visible;
		stroke: var(--color);
		stroke-width: 2px;
	}

	&:hover {
		svg {
			fill: var(--color);
		}
	}

	@include variables.media-md {
		width: 5rem;
	}
}

.player-title {
	position: relative;
	height: 1.75rem;
	width: 100vw;
	left: calc((100% - 100vw) / 2);
	margin-top: 2rem;
	opacity: 1;
	transition: 0.2s;
	p:nth-of-type(1) {
		animation: scroll-banner 5s infinite linear;
	}
	p:nth-of-type(2) {
		animation: scroll-banner1 5s infinite linear;
		animation-delay: -5s;
	}
	p {
		min-width: 100%;
		font-size: 3.8rem;
		position: absolute;
		margin: 0;
		line-height: 1em;
		white-space: nowrap;
		padding-right: 1rem;
		color: var(--color);
	}
}

.player-progress-num {
	position: relative;
	padding-left: 1rem;
	opacity: 1;
	transition: 0.2s;
	p,
	span {
		font-size: 2.3rem;
		color: var(--color);
	}
}

.player-hidden {
	visibility: hidden;
	opacity: 0;
}

.controls-hidden {
	display: none;
}
